.ma-nav {
    display: grid;
    grid-template-columns: 30dvw repeat(4, auto);
    grid-template-rows: 10dvh;
    column-gap: 15px;
    align-items: center;
    padding: 0 15%;
    width: 100dvw;
    position: fixed;
    top: 0;
    border-bottom: 3px solid rgba(156, 156, 156, 0.342);
    background-color: #fff;
    text-align: center;

    z-index: 100;
}

.ma-nav-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    align-items: center;
}

.ma-links p {
    width: fit-content;
    font-weight: 500;
    font-size: 13.6px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--color-tittle);
    cursor: pointer;
    text-align: center;
    transition: 0.70s all;
}

.ma-links p:hover {
    font-size: 15px;
    transition: 0.70s all;
}

.ma-links a{
    color: var(--color-tittle);
    font-size: 16px;
    text-decoration: none;
}

.ma-nav-logo p {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: left;
    color: var(--color-tittle);
}

.ma-button-sell {
    width: 143px;
    height: 37px;
    background-color: var(--color-buttons);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-style: Medium;
    font-size: 13.6px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
}